body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.sidebar {
  width: 80px;
  background-color: #6e44ff;
  min-height: 100vh;
}

.sidebar-item {
  text-align: center;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%; */
}

.cp-img-main {
  width: 40px;
}

.cp-img {
  width: 30px;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.left-section {
  overflow-y: auto;
}

.right-section {
  overflow-y: auto;
}

.card-icon {
  /* background-color: #eee; */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info p {
  margin: 0;
  color: #888;
}

.card-info h2 {
  margin: 5px 0;
  font-size: 1.5em;
  color: #333;
}

.card-info a {
  color: #6e44ff;
  text-decoration: none;
}

.card-info a:hover {
  text-decoration: underline;
}

/* Media Queries for responsiveness */
@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
  }

  .left-section,
  .right-section {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .sidebar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
  }

  .sidebar-item {
    width: 40px;
    height: 40px;
  }

  .main-content {
    flex-direction: column;
  }

  .tabs {
    flex-wrap: wrap;
  }

  .left-section,
  .right-section {
    width: 100%;
  }
}
